body{
	background-color: #0F2D40;
	color: #EEE;
}
/*############NAVBAR###############*/


@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");

.navbar {
  background-color: #071721;
  min-height: auto;
  position: relative;
  top: 0px;
  font-size: 13px;
  width: auto;
  border: none;
  border-radius: 0px;
/*  margin-bottom: 0px;
  padding: 40px 0px;*/
}
.navbar-brand {
  padding: 0 15px;
  height: 96px;
}

@media (min-width: 768px) {
  .navbar-nav {
    position: relative;
    right: -50%;
  }
  .navbar-nav > li {
    position: relative;
    left: -50%;
  }
  .navbar-nav > li a {
    line-height: 5em;
    vertical-align: middle;
    padding: 0 24px;
    font-family: Lato, sans-serif;
  } 
}
.navbar-default .navbar-nav>.active>a {
    color: #FFF;
    background-color: #0F2D40;
    height: 6em;

}
.navbar-default .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color: #0F2D40;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color: #0F2D40;
}
@media (min-width: 992px) {
  .navbar-nav > li a {
    padding: 0 48px;
  } 
}

@media (min-width: 1200px) {
  .navbar-nav > li a {
    padding: 0 68px;
  } 
}


    /*.nav>li>a>img {
        max-width: 30%;
    }*/
/*    nav ul li img {
        height: 40px;
    }
    .navbar-default .navbar-nav>.active>a{
        width: 100px;
        height: 78px;
    }*/
/*    .navbar{
    	border:0px;
    	border-top: 2px solid #3E8C84;
    	border-radius: 0px;
    }
    .navbar-default {
    	background-color: #ECF0F1;
        background-color: #f8f8f8;
    }
    .navbar-right{
        font-family: Lato, sans-serif;
    }*/
/*    .logo {
        float: left;
        width: 60px;
        text-align: center;
    }*/
    .logo img {
        /*height: 60px;*/
    }
    /*    img {
            border: 0;
            -ms-interpolation-mode: bicubic;
            vertical-align: middle;
        }*/
/*############VARIOS###############*/
    .well2 {
     /*   min-height: 200px;*/
        padding: 10px;
        margin-bottom: 20px;
        /*background-color: #34495e;*/
         background-color: #296B73;
        border-radius: 0px;
        color: #fff;
    /*    height: auto;
        min-height: initial;*/
    }
    .well3 {
        padding: 10px;
        margin-bottom: 20px;
         background-color: #194759;
        border-radius: 0px;
        color: #fff;
    }
/*############PronosticoDinac######*/
    .dia{
    	font-size:18px; 
    	color:#fff;
    	font-family: 'Lato', sans-serif;
    	text-transform: uppercase;
    }
    .temperatura{
    	font-size:19px; 
    	color:#fff;
    	font-family: 'Lato', sans-serif;
    	margin-bottom: 0px;
    }
    .min-max{
    	position: absolute;
    	font-size: 13px;
    	color: #BBB;
    }
    #min{
    	top: 38%;
    	left: 59%;
    	
    }
    #max{
    	top: 87%;
    	left: 59%;
    }
    .pronostico{
    	font-family: 'Lato', sans-serif;
    	/*text-transform: uppercase;*/
    	color: #ECF0F1;
    	text-align: center;
    	opacity: .8;
        height: 107px;
    }
    #actualizado{
    	font-family: 'Open Sans', sans-serif;
    	color:#e7e7e7;
    	font-size:15px;
    	margin: 1px;
    	margin-bottom: 2px;
    }
    #encarnacion{
    	font-family: 'Open Sans', sans-serif;
    	color:#e7e7e7;
    	font-size: 24px;
    	margin: 1px;
    }
    /*#contenedor {
      overflow: hidden;
    }
     
    #columna1, #columna2, #columna3 {
      padding-bottom: 32767px;
      margin-bottom: -32767px;
    }*/
    #titulo{
    	/*font-family: 'Lato', sans-serif;*/
    	font-family: 'Open Sans', sans-serif;
    	/*font-family: 'Raleway', sans-serif;*/
    	/*font-family: 'Quicksand', sans-serif;*/
    	font-size: 1.4em;
    	color: #FFF;
    	text-align: center;
    }
    #titulo2{
    	font-family: 'Lato', sans-serif;
    	font-size: 15px;
    	color: #BBB;
    }

    .lectura-titulo {
        font-size: 20px;
        font-family: Open Sans, sans-serif;
        color: white;
    }
    .pronostico_img1 img{
        position: absolute;
        height: 100px;
        top: -14px;
        left: -16px;
        width: 100%;
    }
    .pronostico_img2 img{
        position: absolute;
        height: 73px;
        top: -2px;
        left: -12px;
        width: 100%;
    }
    .pronostico_img3>img{
        position: absolute;
        height: 59px;
        top: 1px;
        left: -14px;
    }
/*############LECTURAS#############*/
    .iconos {
        float: left;
        width: 60px;
        text-align: center;
    }
    .iconos img {
        height: 60px;
    }
    #botonera {
        position: relative;
        min-height: 60px;
        left: 10px;
    }
    #botonera-content {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    #grafico1{
        padding-top: 20px;
    }
    .nav-tabs {
         border-bottom: 0px; 
    }
    .nav-tabs>li>a{
        border-radius: 0px;
    }
/*###########LECTURAS-VARIAS#######*/
    .dato h3{
        margin-top: 0px;
        font-size: 15px;
        font-family: Open Sans, sans-serif;
        color: white;
    }
    .dato img{
        height: 55px;
    }
    .dato{
        display: -webkit-box;
        padding-top: 21px;
        padding-bottom: 21px;
    }
    .last-lecturas{
        text-align: center;
    }
    .last-lecturas .dato {
        float: inherit;
        position: relative;
    }
    .last-lecturas div {
        display: inline-block;
        text-align: center;
    }
/*############PRELOADER############*/
    .pre  {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -15px;
        margin-left: -15px;
    }
/*############FOOTER###############*/
    footer {
        background-color: #0C1A1E;
        height: $footer-height;
        /*padding-top: 50px*/
    }
    #imagen-footer{
        padding: 20%;
        display: flex;
        text-align: center
    }
    .btn-square{
        border-radius: 0px;
        background-color: #3E8C84;
        margin-right: 5px !important;
    }
    footer img{
        height: 60px;
        width: 100%
    }
    footer #descripcion{
        margin-top: 5.5%;
        border-left: 4px solid whitesmoke;
        line-height: 30px;
        text-align: left;
        padding-left: 5px;
    }
    footer .input-group-btn {
            vertical-align: top;
    }
    footer h3{
        font-family: 'Lato', sans-serif;
        margin-top: 2%;
    }
    footer p{
        margin:0px;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 16px;
    }
    footer p>span{
        font-weight: bold;
    }
    footer ul{
        list-style-type: none;
        margin-top: 6%;
    }
    footer li{
        margin-top: 1em;
    }
    footer li>a{
        font-family: Lato, sans-serif;
        text-decoration: none!important;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4375;
        opacity: 0.5;
        font-weight: bolder;
        color: #ECF0F1;
    }
    footer .col-xs-12{
        float: left;
        text-align: center;
    }

/*##########################flip#############################3*/
.flip {
    -webkit-perspective: 800;
    perspective: 800;
    position: relative;
    padding-bottom: 20px;
/*    text-align: center;*/
}
.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.flip .card {
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
}
.flip .card .face {
    -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
    z-index: 2;
}
.flip .card .front {
    position: absolute;
    width: 100%;
    z-index: 1;
}
.flip .card .back {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
}
.inner{
    margin:0px !important;
}

/*////////////*/
#boton-pronostico{
    font-family: Open Sans, sans-serif;
    font-size: 80%;
    transition: color 0.5s ease;
}
#boton-pronostico:hover{
    color:#3E8C84;
}